[buildout]
extensions =
    mr.developer

show-picked-versions = true

extends =
    http://dist.plone.org/release/4.3.5/versions.cfg
    versions.cfg

find-links =
    http://dist.kreativkombinat.de/public

versions = versions
unzip = true

[eggs]
main =
    kk.ftv

addon =
    Pillow
    plone.app.caching
    Products.PloneFormGen
    Products.Carousel
    Products.ContentWellPortlets
    collective.contentleadimage
    Products.LinguaPlone
    quintagroup.seoptimizer


test =
    kk.ftv [test]

devtools =
    bpython
    plone.reload
    sauna.reload
    Products.PDBDebugMode
    Products.PrintingMailHost
    Products.DocFinderTab

# mr.developer - sources available for auto-checkout.
# Run ./bin/develop help for more information.

[sources]

kk.ftv               = fs kk.ftv

# Enable to provide rich text tile support
kk.tiles                        = git git@github.com:vwc/vwc.tiles.git

# External packages
vwc.toolbar                     = git https://github.com/vwc/vwc.toolbar.git
ade25.fabfiles                  = git git@github.com:ade25/ade25.fabfiles.git

# Additional plone checkouts
# plone.app.blocks            = git git://github.com/plone/plone.app.blocks.git
# plone.app.tiles             = git git://github.com/plone/plone.app.tiles.git
# plone.tiles                 = git git://github.com/plone/plone.tiles.git

# Plone collective checkouts
# collective.disqus           = git https://github.com/collective/collective.disqus.git

# Development Tools checkouts
sauna.reload                = git https://github.com/epeli/sauna.reload.git


